h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
}

.container {
  width: 1158px;
  margin: 0 auto;
  align-items: center;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

header {
  height: 72px;
  border-bottom: 1px;
  border-color: #e7e9fc;
  border-style: solid;
  padding: 30px;
}

.header-list {
  display: flex;
  width: 1158px;
  justify-content: space-around;
}

header a {
  color: #2e2f42;
  background-color: #ffffff;
  text-decoration: none;
}

header nav li a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
}

header nav li a:hover {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

header address li a {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

header address li a:hover {
  color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

header li {
  list-style-type: none;
}

.web {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  font-family: "Raleway", sans-serif;
  color: #4d5ae5;
}

.studio {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  font-family: "Raleway", sans-serif;
}

.page-menu-list {
  width: 350px;
  height: 48px;
  font-weight: 500px;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  display: flex;
  position: relative;
}

.list-studio {
  width: 60px;
  height: 24px;
}

.list-portfolio {
  width: 75px;
  height: 24px;
}

.list-contacts {
  width: 100px;
  height: 24px;
}

.list-studio:active::after {
  content: "";
  background-color: #404bbf;
  width: 48px;
  height: 4px;
  position: absolute;
  top: 35px;
  left: 0;
}

.list-portfolio:active::after {
  content: "";
  background-color: #404bbf;
  width: 66px;
  height: 4px;
  position: absolute;
  top: 35px;
  left: 60px;
}

.list-contacts:active::after {
  content: "";
  background-color: #404bbf;
  width: 67px;
  height: 4px;
  position: absolute;
  top: 35px;
  left: 135px;
}

.address {
  display: flex;
}

.mail {
  padding-right: 100px;
}

.section-1 {
  width: 1440px;
  height: 600px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 56px;
  line-height: 60px;
  letter-spacing: 2%;
  background-image: url("https://img.freepik.com/free-photo/group-people-working-website-template_53876-25068.jpg?t=st=1726583088~exp=1726586688~hmac=ed91169d70688d383726c242f18606757f4a916ef28a25f0e30b8e71cb056a2a&w=1380");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1440px;
  color: #ffffff;
  text-align: center;
  position: relative;
  isolation: isolate;
  display: grid;
}

.section-1::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: #2e2f42;
  opacity: 0.7;
}

.section-1-button {
  width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 4%;
  background-color: #4d5ae5;
  color: #ffffff;
  cursor: pointer;
}

.section-1-button:hover {
  background-color: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-2-div {
  color: #2e2f42;
  display: flex;
  gap: 30px;
}

.section-2-background {
  width: 264px;
  height: 112px;
  background-color: #f4f4fd;
  border: 1px, solid, #8e8f99;
  border-radius: 4px;
  position: relative;
}

.section-2-div li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.section-2-div p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.section-2-text {
  width: 264px;
  height: 72px;
}

.section-2-title {
  width: 264px;
  height: 24px;
}

.section-2-icon-background-1 {
  fill: #f4f4fd;
  position: absolute;
  left: 373px;
  top: 750px;
  border: 1px, solid, #8e8f99;
  border-radius: 2%;
}

.section-2-icon-background-2 {
  fill: #f4f4fd;
  position: absolute;
  left: 665px;
  top: 750px;
  border: 1px, solid, #8e8f99;
  border-radius: 2%;
}

.section-2-icon-background-3 {
  fill: #f4f4fd;
  position: absolute;
  left: 961px;
  top: 750px;
  border: 1px, solid, #8e8f99;
  border-radius: 2%;
}

.section-2-icon-background-4 {
  fill: #f4f4fd;
  position: absolute;
  left: 1255px;
  top: 750px;
  border: 1px, solid, #8e8f99;
  border-radius: 2%;
}

.icon-antenna {
  position: absolute;
  left: 460px;
  top: 780px;
}

.icon-clock {
  position: absolute;
  left: 760px;
  top: 780px;
}

.icon-diagram {
  position: absolute;
  left: 1060px;
  top: 780px;
}

.icon-astronaut {
  position: absolute;
  left: 1360px;
  top: 780px;
}

.section-3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  background-color: #f4f4fd;
  color: #2e2f42;
  height: 732px;
}

.section-3-div {
  display: flex;
  gap: 32px;
}

.our-team {
  text-align: center;
}

.section-3 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.section-3-images {
  display: flex;
}

.section-3-background {
  width: 264px;
  height: 168px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 2px 1px 0px #2e2f4214;
}

.section-3 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
}

.space-1 {
  padding-top: 20px;
}

.space-2 {
  margin-top: 10px;
}

.mark-instagram {
  position: absolute;
  left: 402px;
  top: 1650px;
}

.mark-twitter {
  position: absolute;
  left: 461px;
  top: 1650px;
}

.mark-facebook {
  position: absolute;
  left: 521px;
  top: 1650px;
}

.mark-linkedin {
  position: absolute;
  left: 581px;
  top: 1650px;
}

.tom-instagram {
  position: absolute;
  left: 697px;
  top: 1650px;
}

.tom-twitter {
  position: absolute;
  left: 758px;
  top: 1650px;
}

.tom-facebook {
  position: absolute;
  left: 818px;
  top: 1650px;
}

.tom-linkedin {
  position: absolute;
  left: 878px;
  top: 1650px;
}

.camila-instagram {
  position: absolute;
  left: 993px;
  top: 1650px;
}

.camila-twitter {
  position: absolute;
  left: 1053px;
  top: 1650px;
}

.camila-facebook {
  position: absolute;
  left: 1111px;
  top: 1650px;
}

.camila-linkedin {
  position: absolute;
  left: 1173px;
  top: 1650px;
}

.daniel-instagram {
  position: absolute;
  left: 1289px;
  top: 1650px;
}

.daniel-twitter {
  position: absolute;
  left: 1350px;
  top: 1650px;
}

.daniel-facebook {
  position: absolute;
  left: 1410px;
  top: 1650px;
}

.daniel-linkedin {
  position: absolute;
  left: 1471px;
  top: 1650px;
}

#section-3-icon-background {
  fill: #4d5ae5;
}

#section-3-icon-background:hover {
  fill: #404bbf;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-4 {
  font-weight: 700;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 2%;
  color: #2e2f42;
}

.our-portfolio {
  text-align: center;
}

.section-4-images {
  display: flex;
}

.section-4-hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}

.section-4-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
  position: absolute;
  width: 296px;
  height: 96px;
  left: 32px;
  top: 40px;
}

.section-4-lists {
  position: relative;
  display: flex;
  flex-direction: column;
}

.section-4-hover:hover {
  opacity: 1;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-4-lists:hover {
  background: #ffffff;
  box-shadow: 2px 2px 0px 0px #2e2f4214;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-4-div {
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}

.section-4 li {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 2%;
}

.section-4 p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #434455;
  padding-top: 10px;
}

.section-4-border {
  border-width: 0px 1px 1px 1px;
  border-color: #e7e9fc;
  border-style: solid;
  height: 120px;
  padding: 20px;
}

footer {
  background-color: #2e2f42;
  height: 312px;
  padding: 85px;
  display: flex;
}

.flex {
  display: flex;
}

.social-media {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #ffffff;
  margin: 0 auto;
}

footer a {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3%;
  color: #f4f4fd;
  text-decoration: none;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 2%;
  color: #f4f4fd;
}

.webside-instagram {
  position: absolute;
  left: 973px;
  top: 3145px;
}

.webside-twitter {
  position: absolute;
  left: 1035px;
  top: 3145px;
}

.webside-facebook {
  position: absolute;
  left: 1095px;
  top: 3145px;
}

.webside-linkedin {
  position: absolute;
  left: 1155px;
  top: 3145px;
}

#icon-background-footer {
  fill: #4d5ae5;
}

#icon-background-footer:hover {
  fill: #31d0aa;
}
